<header>
    
</header>

<div>
    <div class="image-slide">

    </div>
    <div class="image-preview">

    </div>
    <div class="jersey-details">
        <h1>1990-92 Aston Villa Home Shirt - 8/10 - (L)</h1>
        <h1>P1,234,234</h1>
        <div class="btn d-flex flex-column">
            <button class="btn btn-primary">Add to Cart</button>
            <button class="btn btn-outline-primary">Buy Now</button>
        </div>
        <div class="jersey-description">
            <p>Product Size: L</p>
            <p>Product Condition: New</p>
            <p>Defect: None</p>
        </div>
    </div>
</div>