<div class="main-content container">
    <div class="Header">
      <h1>Products</h1>
    </div>
    <div class="sort-row d-flex">
      <label for="">SORT BY</label>
      <div class="sorter-option">
            <div class="dropdown">
                <button
                class="btn  dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Sort By
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Popularity</a></li>
                <li><a class="dropdown-item" href="#">Price: Low to High</a></li>
                <li><a class="dropdown-item" href="#">Price: High to Low</a></li>
                <li><a class="dropdown-item" href="#">Newest Arrivals</a></li>
                </ul>
            </div>
      </div>
    </div>

    <div class="total-products">
        <p>100 PRODUCTS</p>
    </div>

    <div class="jersey">
        <div class="container-row">
                <div class="jersey-container">

                    <div class="jersey-iamge">
                        <img src="assets/jersey-image/jerseyimage.png" alt="">
                    </div>

                    <div class="jersey-title">
                        <h1>2004-05 Inter Milan Home Shirt - 8/10 - (S)</h1>
                    </div>

                    <div class="jersey-condition">
                        <p>Condition: Excellent</p>
                    </div>

                    <div class="jersey-price">
                        <h2>$100</h2>
                    </div>
                </div>


        </div>
    </div>
  </div>
  